.personal-info-container,
.work-info-container,
.education-info-container{
    border: 1px solid black;
    background-color: bisque;
}

.work-singular-item{
    border: 1px solid black;
}
.work-container-items{
    background-color: aquamarine;
}