*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}
.resume,
.output-screen {
  padding-top: 100px;
}
.personal,
.experience,
.education {
  display: flex;
  flex-direction: column;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
